<%- include("./partials/header") %>

  <div><form action="/map" method = "POST">
          <button id ="map" >location</button>
        </form>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 text-center">
        <h1>SOS Button</h1>
        <form action="/contact" method="POST">
          <button class="btn" id="sos"></button>
        </form>
      </div>
      <div class="col-sm-6 text">
        <h1>Guidelines</h1>
        <!-- <Insert guidelines here> -->

          <% for (var key of Object.keys(data)) {%>

                    <ul>

                      <h3><%=key%></h3>
                      <p>  <%=data[key]["Percentage"]%> % Percentage Crimes </p>
                      <p>Total number of Cases Last Year : <%=data[key]["Last year reported cases"]+5%></p>
                      <h4>Precautions:</h4>
                      <%guides[key].forEach((inf)=>{%>
                        <li><%=inf%></li>
                      <%})%>
                      <br>

          
                    </ul>
          <%}%>

      </div>
    </div>
  </div>

<%- include("./partials/footer") %>